#contact_logo{
    width: 46%;
    float: left;
    margin-top: 50px;
    padding-left: 4%;
}
.form{
    margin-top: 50px;
    background-color: #518240;
    width: 46%;
    float: left;
    padding: 2%;

}
iframe{
    margin-top: 95px;

}
.contact_content{
    padding-top: 60px;
    width: 80%;
    margin: 0 auto;
}
.contact_content_iframe{
    width: 50%;
    float: left;
}
#contact{
    background-color: #95c784;
    float: right;
    width: 100%;
    margin-top: -300px;
}
.contact_title{
    float: right;
    margin-top: 20px;
    background-color: #171717;
    width: 350px;
    height: 70px;
    padding: 5px;
    -webkit-box-shadow: 16px 11px 0px 0px rgba(232,232,232,1);
    -moz-box-shadow: 16px 11px 0px 0px rgba(232,232,232,1);
    box-shadow: 16px 11px 0px 0px rgba(232,232,232,1);
}
.contact_title h2{
    color: #ffffff;
    margin-top: 10px;
    margin-left: 50px;
}
#ons{
    background-color: #518240;
    height: 750px;
    -webkit-box-shadow: inset 0px -48px 0px 0px rgba(110,178,87,1);
    -moz-box-shadow: inset 0px -48px 0px 0px rgba(110,178,87,1);
    box-shadow: inset 0px -48px 0px 0px rgba(110,178,87,1);
}
.ons_title{
    margin-top: 20px;
    background-color: #171717;
    width: 350px;
    height: 70px;
    padding: 5px;
    -webkit-box-shadow: -10px 23px 0px -10px rgba(232,232,232,1);
    -moz-box-shadow: -10px 23px 0px -10px rgba(232,232,232,1);
    box-shadow: -10px 23px 0px -10px rgba(232,232,232,1);
}
.ons_title h2{
    color: #ffffff;
    margin-top: 10px;
    margin-left: 50px;
}
#ons_content{
    width: 90%;
    margin: 0 auto;

}
.ons_profiel{
    background-color: #171717;
    width: 20%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    height: 100px;
    float: left;
    margin-top: 60px;
}
.team{
    background-color: #171717;
    width: 100%;
    text-align: center;
    color:white;

}
.team h1{
   font-size: 32px;
}
.team h5{
    font-size: 18px;
    margin-top: -20px;
}
.team p{
    width: 80%;
    margin: 0 auto;
    text-align: left;

}
.team_button{
    margin-bottom: 30px;
    width: 50%;
}
.team_foto{
    width: 80%;
    border-radius: 300px;
    margin-top: 40px;
}
#werk{
    background-color: #95c784;
    float: left;
}
#slide2_blok1{
    width: 50%;
    float: left;
    margin-left: 5%;
}

#slide2_blok2{
    width: 45%;
    height: 500px;
    background-color: #171717;
    float: right;
    margin-top: 15px;
    -webkit-box-shadow: 11px 29px 0px -11px rgba(232,232,232,1);
    -moz-box-shadow: 11px 29px 0px -11px rgba(232,232,232,1);
    box-shadow: 11px 29px 0px -11px rgba(232,232,232,1)
}
.slide2_blok1_img{
    width: 40%;
    /*float: left;*/
    padding: 2%;

}
#slide1_blok2{
    position: absolute;
    width: 750px;
    height: 470px;
    right: 1000px;
    background-color: #171717;
    z-index: 1;
    margin-top: -100px;


}
#slide1_blok2_p{
    color: white;
    padding-left: 80px;
    padding-right: 80px;

}
#slide1_blok2_h1{
    color: white;
    font-size: 38px;
    text-decoration: none;
    /*padding-top: 5px;*/
    padding-left: 80px;
    font-family: "Raleway", serif;
    font-weight: bold;
}
#slide1_blok1_img{
    width: 900px;
    padding-left: 360px;
    margin-top: 140px;
}
#slide1_blok1{
    width: 1300px;
    height: 600px;
    background-color: #518240;
    float: right;
    margin-top: -170px;
    border-bottom: 20px solid #6eb257;
}

#home{
    width: 100%;
    height: 250px;
    margin: 0 auto;
}
#home_logo{
    margin-top: -100px;
    width: 100%;
}
#button{
    padding-left: 80px;
    padding-top: 40px;
}
#button2{
    padding-right: 80px;
    padding-top:15%;
    float: right;
}
.space{
    width: 100%;
    height: 550px;

}
.myButton {
    background-color:#95c784;
    -moz-border-radius:24px;
    -webkit-border-radius:24px;
    border-radius:24px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: "Raleway", serif;
    font-size:23px;
    font-weight:bold;
    padding:13px 61px;
    text-decoration:none;
    text-shadow:0px 1px 0px #95c784;
}

.myButton:active {
    position:relative;
    top:1px;
}

.myButton:hover {
    background-color:#518240;
}
.myButton:active {
    position:relative;
    top:1px;
}

/*slides movement*/
section.module:last-child {
    margin-bottom: 0;
}
section.module h2 {
    margin-bottom: 40px;
    font-family: "Raleway", serif;
    font-size: 30px;

}
section.module p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
}
section.module p:last-child {
    margin-bottom: 0;
}
section.module.content {
    padding: 40px 0;
    background-color: #333333;
}

section.module.parallax {
    padding: 240px 0;
    background-position: 0 0;
}

section.module.parallax-1 {
    background-image: url("../img/banners/banner.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
section.module.parallax-2 {
    background-image: url("../img/banners/banner.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
section.module.parallax-3 {
    background-image: url("../img/banners/banner.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media all and (min-width: 600px) {
    section.module h2 {
        font-size: 42px;
    }
    section.module p {
        font-size: 20px;
    }
    section.module.parallax {
        padding: 300px 0;
    }
    section.module.parallax h1 {
        font-size: 96px;
    }
}
@media all and (min-width: 960px) {
    section.module.parallax h1 {
        font-size: 160px;
    }
}
