#werk{
    background-color: #95c784;
    float: left;
}
#slide2_blok1{
    width: 50%;
    float: left;
    margin-left: 5%;
}

#slide2_blok2{
    width: 45%;
    height: 500px;
    background-color: #171717;
    float: right;
    margin-top: 15px;
    -webkit-box-shadow: 11px 29px 0px -11px rgba(232,232,232,1);
    -moz-box-shadow: 11px 29px 0px -11px rgba(232,232,232,1);
    box-shadow: 11px 29px 0px -11px rgba(232,232,232,1)
}
.slide2_blok1_img{
    width: 40%;
    /*float: left;*/
    padding: 2%;

}
#slide1_blok2{
    position: absolute;
    width: 750px;
    height: 470px;
    right: 1000px;
    background-color: #171717;
    z-index: 1;
    margin-top: -100px;


}
#slide1_blok2_p{
    color: white;
    padding-left: 80px;
    padding-right: 80px;

}
#slide1_blok2_h1{
    color: white;
    font-size: 38px;
    text-decoration: none;
    /*padding-top: 5px;*/
    padding-left: 80px;
    font-family: "Raleway", serif;
    font-weight: bold;
}
#slide1_blok1_img{
    width: 900px;
    padding-left: 360px;
    margin-top: 140px;
}
#slide1_blok1{
    width: 1300px;
    height: 600px;
    background-color: #518240;
    float: right;
    margin-top: -170px;
    border-bottom: 20px solid #6eb257;
}

#home{
    width: 100%;
    height: 250px;
    margin: 0 auto;
}
#home_logo{
    margin-top: -100px;
    width: 100%;
}
#button{
    padding-left: 80px;
    padding-top: 40px;
}
#button2{
    padding-right: 80px;
    padding-top:15%;
    float: right;
}
.myButton {
    background-color:#95c784;
    -moz-border-radius:24px;
    -webkit-border-radius:24px;
    border-radius:24px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: "Raleway", serif;
    font-size:23px;
    font-weight:bold;
    padding:13px 61px;
    text-decoration:none;
    text-shadow:0px 1px 0px #95c784;
}

.myButton:active {
    position:relative;
    top:1px;
}

.myButton:hover {
    background-color:#518240;
}
.myButton:active {
    position:relative;
    top:1px;
}

/*slides movement*/
section.module:last-child {
    margin-bottom: 0;
}
section.module h2 {
    margin-bottom: 40px;
    font-family: "Raleway", serif;
    font-size: 30px;

}
section.module p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
}
section.module p:last-child {
    margin-bottom: 0;
}
section.module.content {
    padding: 40px 0;
    background-color: #333333;
}

section.module.parallax {
    padding: 240px 0;
    background-position: 0 0;
}
/*section.module.parallax h1 {*/
    /*color: #1e1e1e;*/
    /*font-size: 48px;*/
    /*line-height: 1;*/
    /*font-weight: 700;*/
    /*text-align: center;*/
    /*text-transform: uppercase;*/
    /*text-shadow: 0 0 10px white;*/

/*}*/
section.module.parallax-1 {
    background-image: url("../img/banners/banner.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
section.module.parallax-2 {
    background-image: url("../img/banners/banner.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
section.module.parallax-3 {
    background-image: url("../img/banners/banner.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media all and (min-width: 600px) {
    section.module h2 {
        font-size: 42px;
    }
    section.module p {
        font-size: 20px;
    }
    section.module.parallax {
        padding: 300px 0;
    }
    section.module.parallax h1 {
        font-size: 96px;
    }
}
@media all and (min-width: 960px) {
    section.module.parallax h1 {
        font-size: 160px;
    }
}
