
body{
    padding-top: 40px;
}
header{
    height: 40px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 2;

}
.nav-up {
    top: -80px;

}
main{
    height: 2000px;
}
header ul {
    list-style-type: none;
    margin: 0;

    overflow: hidden;
    background-color: #171717;
}
#menu_right{
    margin-right: 150px;
}
 header ul li {
    float: right;
    font-family: 'Raleway', sans-serif;
     border-left: 1px solid white;
     font-size: 16px;
     font-weight: bold;

}
header ul li:last-child {
    border-left: none
}

 header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header ul li a:hover {
    background-color: #95c784;
}
#menu_logo{
    position: absolute;
    width: 200px;
    padding-left: 40px;
    /*padding-top: 10px;*/
}
#menu_logo:hover{
   cursor: pointer;
}